*.root
*.o
*.d
ufunc/factorial/build/*
*.png
__pycache__/*
*.so
clib/learn_swig/*
clib/__pycache__/*
clib/eec_back_wrap.cc
clib/eec_back.py
clib/build/*
clib/dist/*
clib/energy_energy_correlators.egg-info/*
*.pickle
